{% extends 'main.html'%}
{% block content%}
<h2>All Posts</h2>
<a href="/create/">Create +</a><br><br><br>
<a href="/reels/">Reels</a>
{% for i in posts %}
<!-- <h2>
    <a href="/post/{{i.id}}/">{{i.title}}</a>
</h2>
<p>{{i.content | truncatewords:20}}</p>
<p>By:{{i.author.username}}</p>

    {% if i.video %}
    <video controls>
        <source src="{{ i.video.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {% endif %}
    {% if i.image %}
    <img src="{{ i.image.url }}" alt="" style="height: 100px; width: 100px;">
    {% endif %} -->
    {% empty %}
    <p>No posts available</p>


{%endfor%}
{% endblock %}